@font-face{
	font-family: 'Wisdom Script';
	src: url('../fonts/wisdom-script.otf') format('opentype');
}

html {
	font-size: 16px;
}

body {
	display: flex;
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	justify-content: center;
	align-items: center;
	font-size: 1em;
}

.container{
	max-width: 1200px;
	display: flex;
	margin: 0 auto;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

h1,
h2,
h3,
h4 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}
h1 {
	font-size: 1.88em;
}
h2 {
    font-size: 1.5em;
}
h3 {
	font-size: 1.13em;
}
h4 {
	font-size: .75em;
}

p {
	font-size: 1.14em;
	line-height: 21px;
    padding: 0 30px;
}

/*The widths are in a percentage!*/
header {
	height: 300px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	flex-flow: row wrap;
}

header h1 {
	margin: 0;
    padding: 30px 0 15px 0;
	border-bottom: 3px solid #77a466;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
header h1 span {
	color: #77a466;
}

header nav {
	padding: 15px 0;
	width: 100%
	/* display: flex;
	flex-flow: column nowrap;
	justify-content: space-between; */
	/* margin-bottom: 90px; */
}


header nav ul {
	margin: 0;
	padding: 0;
	/* display: flex;
	flex-flow: column nowrap;
	justify-content: space-between; */
}
header nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 1.14em;
	padding: 0 10px;
	/* display: flex;
	flex-flow: column nowrap;
	justify-content: space-between; */
}
header nav ul li a{
	text-decoration: none;
	color:#77a466;
	padding: 10px 0 15px 0;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	text-align: center;
}

/*The widths are in a percentage!*/
.top-section,
.bottom-section {
	margin: 0 auto;
	clear: both;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}

.main-image {
	height: auto;
	width: 90%;
}
.main-image img {
	width: 100%;
	border-bottom: 3px solid #77a466;
	margin-top: 85px;
    margin-bottom: 5px;
}

.main-title {
	height: auto;
	width: 100%
	/* display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center; */
	/* width: 100%; */
}
.main-title h3 {
	text-align: left;
	/* padding: 5px 25px; */
	color: #77a466;
	width: 95%;
	font-size: 1.25em;
	padding-left: 21px;
	/* display: flex;
	justify-content: center;
	align-items: center; */
}
.main-title p {
	padding: 0 21px;
	font-size: 1em;
	line-height: 25px;
}

.section-one,
.section-two,
.section-three {
	width: 90%;
	height: auto;
	border-top: 1px solid #eee;
}


.section-one h4 {
	padding: 10px 0;
}

.section-two {
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
}

.section-two h4,
.section-three h4 {
	padding: 10px 0px;
}

.menu {
	list-style: none;
	padding: 0;
}
.menu li {
	padding: 10px 0;
	color:#77a466;
}

.reviews {
	color: #333;
	font-size: 1em;
	line-height: 21px;
	padding-left: 0px;
}

.address {
	font-size: 1em;
	line-height: 24px;
	padding-left: 0;
}

/*The widths are in a percentage!*/
footer {
	height: 50px;
	border-top: 3px solid #eee;
	margin: 0 auto;
	clear: both;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}
footer span {
	font-family: 'Wisdom Script', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: 1.14em;
}

@media(min-width: 768px) {
	/* .bottom-section {
		width: 30%;
		display: flex;
		flex-flow: row;
		height: auto;
	} */

	.section-one,
.section-two,
.section-three {
	height: 300px;
	margin-left: 10px;
	width: 30%;
}
}

@media(min-width: 1200px){
	body {
		font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	}
	
	.container{
		max-width: 1200px;
		margin: 0 auto;
	}
	
	header {
		height: 100px;
		margin: 0 auto;
		display: inline-block;
		width: 100%;
	}
	
	header h1 {
		float: left;
		margin: 0;
		padding: 38px 0;
		width: 33%;
		border: none;
	}
	
	header nav {
		width: 55%;
		padding: 46px 0px;
		display: inline;
	}
	header nav ul {
		margin: 0;
		padding: 48px 0px 0 210px;
		display: inline-block;
	}
	header nav ul li {
		text-transform: uppercase;
		font-weight: 700;
		font-size: 14px;
		padding: 0 10px;
		display: inline;
	}
	header nav ul li a{
		text-decoration: none;
		color:#77a466;
		display: inline;
	}

	.main-image img {
		width: 100%;
		border-top: 3px solid #77a466;
		border-bottom: 3px solid #77a466;
		margin-top: 0;
		margin-bottom: 5px;
	}

	.main-title {
		height: auto;
		float: left;
		 width: 100%;
		padding-left: 41px;
	}
	.main-title h3 {
		text-align: left;
		padding: 5px 25px; 
		color: #77a466;
		width: 97%;
		font-size: 1.25em;
		padding-left: 23px;
	}
.bottom-section {
    width: 90%;
    display: flex;
    flex-flow: row;
	height: 300px;
	margin-left: 20px;
}
.section-one, .section-two, .section-three {
	margin-left: 0;
	padding: 0 7px;
}
footer {
	margin-top: 30px;
}
} 
